{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Core - Dashboard</title>
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
  <div class="container">
    <aside>
      <div class="logo">
        <a href="{% url 'index' %}" class="anchor">
          <img src="{% static 'imgs/core_logo.png' %}" alt="Core Logo">
        </a>
      </div>
      <div class="nav-item">🏠 Dashboard</div>
      <a href="{% url 'sales' %}" class="anchor">
        <div class="nav-item">🛒 Sales</div>
      </a>
      <a href="{% url 'purchase' %}" class="anchor">
        <div class="nav-item">📄 Purchases</div>
      </a>
      <a href="{% url 'inventory' %}" class="anchor">
        <div class="nav-item">📦 Inventory</div>
      </a>
      <a href="{% url 'products' %}" class="anchor">
        <div class="nav-item">🧾 Products</div>
      </a>
    </aside>

    <main>
      <div class="card">
        <div class="card-header card-header-flex">
            <h1 class="card-header-main">Welcome to Core</h1>
            <p class="text-muted">Simplify. Organize. Grow.</p>
        </div>
        <div class="actions">
          <a href="{% url 'sales' %}" class="anchor">
            <div class="action-card">
              <div class="action-icon">🛒</div>
              <div>Sales</div>
            </div>
          </a>
          <a href="{% url 'purchase' %}" class="anchor">
            <div class="action-card">
              <div class="action-icon">📄</div>
              <div>Purchases</div>
            </div>
          </a>
          <a href="{% url 'inventory' %}" class="anchor">
            <div class="action-card">
              <div class="action-icon">📦</div>
              <div>Inventory</div>
            </div>
          </a>
          <a href="{% url 'products' %}" class="anchor">
            <div class="action-card">
              <div class="action-icon">🧾</div>
              <div>Products</div>
            </div>
          </a>
        </div>
      </div>
    </main>
  </div>
</body>
</html>
